/* Edição do Scroll */
::-webkit-scrollbar{
  width: 12px;
}

::-webkit-scrollbar-track{
  background-color: rgb(3, 194, 3);
}

::-webkit-scrollbar-thumb{
  background-color: yellow;
  border-radius: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100%;
  overflow-x: hidden;
}

.img-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-image: url(../../img/Background-1.jpg);
  background-size: cover;
  z-index: -1;
}

header {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(89, 89, 89);
  background: radial-gradient(circle, rgba(89, 89, 89, 1) 32%, rgba(0, 0, 0, 1) 76%);
  border-bottom: 2px solid #fbff00;
  box-shadow: -8px 3px 0 #a09d03, -12px 6px 0 #585300;
}

header img {
  width: 210px;
}

.btn-pokes-select {
  width: 100vw;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.btn-pokes-select button#comum {
  padding: 10px 30px;
  background-color: #444;
  box-shadow: -3px 4px 0 #888, -5px 7px 0 #333;
  border: 2px solid #000;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.btn-pokes-select button#comum:active {
  box-shadow: inset -4px 4px 0 #222;
  font-size: 0.9rem;
}

.btn-pokes-select button#shiny {
  padding: 10px 40px;
  background: rgb(176,8,8);
  background: linear-gradient(90deg, rgba(176,8,8,1) 37%, rgba(246,173,0,1) 96%);
  box-shadow: -3px 4px 0 #5e1515, -5px 7px 0 #f0d124b4;
  border: 2px solid #000;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

main {
  margin-top: 2%;
  display: inline-block;
  padding: 15px;
  position: relative;
  margin-left: 32%;
}

main .pokedex {
  width: 100%;
  max-width: 425px;
}

main .pokemon-img {
  position: absolute;
  bottom: 55%;
  left: 50%;
  transform: translate(-63%, 20%);
  height: 18%;
}

main .poke-data {
  position: absolute;
  font-weight: 600;
  color: #aaa;
  top: 54.5%;
  right: 27%;
  /* min  medio  max*/
  font-size: clamp(8px, 5vw, 25px);
  /* Automatizando a formatação da font conforme a tela diminui*/
}

main .poke-data .poke-name {
  color: #3a444d;
  text-transform: capitalize;
}

main .formulario {
  position: absolute;
  background-color: red;
  width: 65%;
  top: 65%;
  left: 13.5%;
}

main .formulario .input-search {
  width: 100%;
  padding: 4%;
  outline: none;
  border: 2px solid #333;
  border-radius: 5px;
  font-weight: bold;
  color: #3a444d;
  font-size: clamp(8px, 5vw, 1rem);
  box-shadow: -3px 4px 0 #888, -5px 7px 0 #333;
}

main .buttons {
  position: absolute;
  bottom: 10%;
  left: 50%;
  width: 65%;
  transform: translate(-57%, 0);
  display: flex;
  gap: 20px;
}

main .buttons button {
  width: 50%;
  padding: 4%;
  border: 2px solid #000;
  border-radius: 4px;
  font-size: clamp(5px, 5vw, 1rem);
  font-weight: bold;
  color: #fff;
  background-color: #444;
  box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
}

main .buttons button:active {
  box-shadow: inset -4px 4px 0 #222;
  font-size: 0.9rem;
}